<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="robots" content="noindex, nofollow" />

	<title>{{ fangate.title }}</title>
</head>
<body id="fb-iframe" class="home hentry" style="background: transparent;">
  {% load url from future %}
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '{{ fangate.app_id }}',
        channelUrl : '//{{ request.get_host }}{% url "fb_channel" %}',
        status     : true,
        cookie     : true,
        xfbml      : true
      });

      // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="fb-fangate">
    {{ fangate }}

    <div class="fb-fangate-content {% if liked %}fb-fan{% else %}fb-nonfan{% endif %}">
      {% if article %}
        {% include "article/content.html" with article=article %}
      {% else %}
        {% load begood_util_tags shortcode_filters hotlinks %}
        {{ content|shortcodes:request|obfuscate_email|hotlinks|safe }}
      {% endif %}
    </div>
  </div>
</body>
</html>